[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
pytest-django = ">=3.9"


[packages]
django = "==3.1"


[requires]
python_version = "3.8"
